<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Голосовалка</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Ты выбрал: <%= Choices[@vote] %></p>
    <p><a href='/results'>Посмотреть результаты голосования!</a></p>
  </body>
</html>
